/* variables */
/* num-of-pic = 11 */
/* --total-time: num-of-pic*5s; */
/* --anim-time: 100/(--total-time/anim-time:0.84)% */
/* --stay-time: 100/num-of-pic%; */

/* Entire page */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Share Tech Mono', monospace;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

  background-image: url(./images/background.jpeg);
  background-position: center;
  background-position-y: top;
  background-repeat: no-repeat;
  position: fixed;
  background-size:contain;
}

#page{
  position: absolute; 
  width: 100%;
  height: 100%;
}

#text-container{
  width:100%;
  margin-top: 150px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}


/* Objects in the page */
#timer {
    font-size: 90px;
    line-height:90px;
    height:100px;
    color: black;
    width: 100%;
    text-align: center;
}

#message{
    font-size: 90px;
    line-height:90px;
    color: black;
    width: 100%;
    text-align: center;
}

/* Confetti*/
.confetti{
    color: red;
    font-family: 'Segoe UI';
    font-size: 5vmin;
    white-space: nowrap;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#extrasbox {
  display: flex;
}


/* Song box */
#song {
  direction: rtl;
  width: 80%;
  margin: 10%;
  margin-bottom: 0px;
  margin-top: 0px;
}

.songbox {
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 10px;
  border: solid;
  border-width: 10px;
  border-color: #a4c6c8;
  border-style: double;
  border-top-style: hidden;
  border-bottom-style: hidden;
  border-radius: 30px;
}

#songTitle {
  font-size: 70px;
  line-height:90px;
  color: black;
  width: 100%;
  text-align: center;
}

#newLineLabel {
  text-align: right;
}

#new_song_line {
  font-size: 30px;
  border: none;
  border-bottom: 2px solid;
  outline: none;
  width: 80%;
  margin: 10%;
  margin-top: 10px;
}

#new_blessing_line {
  font-size: 30px;
  border: none;
  border-bottom: 2px solid;
  outline: none;
  width: 80%;
  margin: 10%;
  margin-top: 10px;
}

/* Page title */
#title {
  font-size: 90px;
  line-height:90px;
  color: black;
  width: 100%;
  text-align: center;
}


/* Chen cards */

#cards {
  display: flex;
}

.card {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  width: 400px;
  height: 400px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.card::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(140, 22, 114, 0);
}

.chen_card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  
  transform: translateY( 400px );
  background-image: url(./images/25.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  animation: chenTransition 70s cubic-bezier(0, 0, 0, 0.97) infinite;
}

.chen_card_part.chen_card_part-two {
  z-index: 20;
  background-image: url(./images/24.jpeg);
  animation-delay: 5s;
}

.chen_card_part.chen_card_part-three {
  z-index: 19;
  background-image: url(./images/23.jpeg);
  animation-delay: 10s;
}

.chen_card_part.chen_card_part-four {
  z-index: 18;
  background-image: url(./images/22.jpeg);
  animation-delay: 15s;
}

.chen_card_part.chen_card_part-five {
  z-index: 17;
  background-image: url(./images/21.jpeg);
  animation-delay: 20s;
}

.chen_card_part.chen_card_part-six {
  z-index: 16;
  background-image: url(./images/20.jpeg);
  animation-delay: 25s;
}

.chen_card_part.chen_card_part-seven {
  z-index: 4;
  background-image: url(./images/19.jpeg);
  animation-delay: 30s;
}

.chen_card_part.chen_card_part-eight {
  z-index: 4;
  background-image: url(./images/18.jpeg);
  animation-delay: 35s;
}

.chen_card_part.chen_card_part-nine {
  z-index: 4;
  background-image: url(./images/17.jpeg);
  animation-delay: 40s;
}

.chen_card_part.chen_card_part-ten {
  z-index: 4;
  background-image: url(./images/16.jpeg);
  animation-delay: 45s;
}

.chen_card_part.chen_card_part-eleven {
  z-index: 4;
  background-image: url(./images/15.jpeg);
  animation-delay: 50s;
}

.chen_card_part.chen_card_part-twelve {
  z-index: 4;
  background-image: url(./images/14.jpeg);
  animation-delay: 55s;
}

.chen_card_part.chen_card_part-thirteen {
  z-index: 4;
  background-image: url(./images/13.jpeg);
  animation-delay: 60s;
}

.chen_card_part.chen_card_part-fourteen {
  z-index: 4;
  background-image: url(./images/12.jpeg);
  animation-delay: 65s;
}

@keyframes chenTransition {
  1.2% { transform: translateY( 0px ); }
  7.14% { transform: translateY( 0px ); }
  8.34% { transform: translateY( -400px ); }
  100% { transform: translateY( -400px ); }
}

/* Itamar cards */

.itamar_card_part {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  
  transform: translateY( 400px );
  background-image: url(./images/20.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
  animation: itamarTransition 15s cubic-bezier(0, 0, 0, 0.97) infinite;
}

.itamar_card_part.itamar_card_part-two {
  z-index: 20;
  background-image: url(./images/19.jpeg);
  animation-delay: 5s;
}

.itamar_card_part.itamar_card_part-three {
  z-index: 19;
  background-image: url(./images/18.jpeg);
  animation-delay: 10s;
}

@keyframes itamarTransition {
  5.6% { transform: translateY( 0px ); }
  33.33% { transform: translateY( 0px ); }
  38.93% { transform: translateY( -400px ); }
  100% { transform: translateY( -400px ); }
}